# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android
android/app/debug
android/app/profile
android/app/release
android/app/src/main/assets/flutter_assets
android/local.properties
android/.gradle
.gradle/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/.generated/
ios/Pods/
ios/.symlinks/
ios/Podfile.lock

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# MacOS
macos/Flutter/ephemeral/
macos/Pods/

# Environment variables
.env
